# Exclude everything
/*

# Except for default project files
!/.github
!/build-aux
!/cmake
!/data
!/src
!.clang-format
!.cmake-format.json
!.gitignore
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber

# Except additional project files
!screenshot.jpg

# Except lib files
!/lib

# Except shared files
!/shared

# Except additional project files
!build-windows-installer.ps1
!src-link_usage_image.jpg
!/srtrelay
!Frameworks.cmake.in
!README_ja.md
